.card-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 1rem;
}

.card-colour--red {
  background-color: red;
}

.card-colour--green {
  background-color: green;
}

.card-colour--blue {
  background-color: blue;
}
